In [21]:
import pandas as pd
import nltk
import numpy as np
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split 
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score

In [22]:
import matplotlib.pyplot as plt
from matplotlib import colors
%matplotlib inline

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
df=pd.read_csv("/home/kanisk/Downloads/naive_bayes.txt",sep='\t',names=['exist','tweet','confidence'])

In [24]:
df.head()

,exist,tweet,confidence
0,Exist,Tweet,existence.confidence
1,1,Global warming report urges governments to act...,1
2,1,Fighting poverty and global warming in Africa ...,1
3,1,Carbon offsets: How a Vatican forest failed to...,0.8786
4,1,Carbon offsets: How a Vatican forest failed to...,1

In [25]:
df.tail()

     exist                                              tweet confidence
6086     1  @bloodless_coup "The phrase 'global warming' s...          1
6087     0  Virginia to Investigate Global Warming Scienti...          1
6088     0  Global warming you tube parody you will enjoy ...     0.6411
6089     0  One-Eyed Golfer: Don't dare tell me about glob...          1
6090     0  man made global warming a hair brained theory ...          1

In [26]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stopset = stopwords.words('english')

[nltk_data] Downloading package stopwords to /home/kanisk/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [27]:
vectorizer=TfidfVectorizer(use_idf=True,lowercase=True,strip_accents='ascii', stop_words=stopset)

In [28]:
y=df.tweet
net_feature=200

In [29]:
X = vectorizer.fit_transform(df['exist'].apply(lambda X: np.str_(X)))

In [30]:
print(X.shape)
print(y.shape)

(6091, 1)
(6091,)

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=21)

In [32]:
clf=naive_bayes.MultinomialNB()
clf.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [33]:
y_pred = clf.predict(X_test)

In [34]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred)*net_feature)

Accuracy: 0.9192383453709784